@import '../styles/colors.scss';

.loading-spinner {
	text-align: center;
}

.debug-div {
	color: lightsalmon;
	height: 300px;
	margin-top: 30px;
}

.debug {
	color: lightsalmon;
	font-size: small;
}

pre {
	margin-bottom: -5px;
}
