@import '../styles/colors.scss';

.loading-spinner {
	text-align: center;
	// if used as grid item
	align-self: center;
	justify-self: center;
}

.debug-div {
	color: lightsalmon;
	height: 300px;
	// margin-top: 30px;
}

.debug {
	color: lightsalmon;
	font-size: small;
}

.error {
	color: $invalid-clr;
}

pre {
	margin-bottom: -5px;
}
