$invalid-clr: #ef767a;
$valid-clr: #23f0c7;
$focus-clr: #e59500;
$focus-clr: #22aed1;
$focus-clr: #f2af29;
// pink doesn't work with the "$invalid-clr"
$focus-clr: #ff66d8;
$focus-clr: #ffe347;
$main-purple: #6457a6;
$background-clr: $main-purple;
$foreground-clr: white;
$dark-purple: #210b2c;
$primary: $focus-clr;

$default-selection: rgb(47, 117, 211);
