$font-main: 'Overpass';

$disabled: 0.8;

$font-sz-normal: 1rem;
$font-sz-small: calc($font-sz-normal / 2);
$font-sz-double: calc($font-sz-normal * 2);

$border-sz: 2px;
$border-radius: 3px;
$outline-sz: 2px;
$outline-offset: 3px;
