// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$spendit-primary: mat.define-palette(mat.$indigo-palette);
$spendit-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$spendit-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$spendit-theme: mat.define-light-theme(
	(
		color: (
			primary: $spendit-primary,
			accent: $spendit-accent,
			warn: $spendit-warn,
		),
	)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($spendit-theme);

/* You can add global styles to this file, and also import other style files */

@import './app/styles/classes.scss';
@import './app/styles/colors.scss';
@import './app/styles/reset.scss';
@import './app/styles/variables.scss';
// Components:
@import './app/styles/components/button.scss';
@import './app/styles/components/input-fields.scss';
// Mixins:
@import './app/styles/mixins/selection.scss';

//

* {
	font-family: $font-main !important;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: $dark-purple $background-clr;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: $background-clr;
}

*::-webkit-scrollbar-thumb {
	background-color: $dark-purple;
	border-radius: 20px;
	border: 3px solid $background-clr;
}

*::selection {
	@include selection();
}

body {
	margin: 0;
	padding: 1rem;
	padding-block-start: 0;
	background-color: $background-clr;
	color: $foreground-clr;
}

// Temporary fix to fix white border around border
.mat-mdc-dialog-container .mdc-dialog__surface {
	border-radius: 0px !important;
}

/*
.mat-mdc-dialog-actions,
.mat-mdc-dialog-container {
	background: yellow;
}
*/

/*
.custom-view-deposit-dialog-container mat-dialog-content,
.custom-delete-deposit-dialog-container mat-dialog-content {
	background: $background-clr;
	color: $foreground-clr;
	// padding: 5px;
}

// fix "Update" button being covered by Safari address bar
@media screen and (max-width: 480px) {
	.custom-view-deposit-dialog-container mat-dialog-content,
	.custom-delete-deposit-dialog-container mat-dialog-content {
		max-height: 60vh;
	}
}

.custom-view-deposit-dialog-container mat-dialog-actions,
.custom-delete-deposit-dialog-container mat-dialog-actions {
	// margin-block-start: 0.5rem;
	// margin-block-end: 0.5rem;	// for some reason, adds too much margin
	background-color: $background-clr;
	border-top: 2px solid $foreground-clr;
	padding-block: 20px;
}
*/

::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
	&:active,
	&:focus {
		@include selection();
	}
}
::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
::-webkit-datetime-edit {
	padding: 3px;
}
