// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$netWorth-primary: mat.define-palette(mat.$indigo-palette);
$netWorth-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$netWorth-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$netWorth-theme: mat.define-light-theme(
	(
		color: (
			primary: $netWorth-primary,
			accent: $netWorth-accent,
			warn: $netWorth-warn,
		),
	)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($netWorth-theme);

/* You can add global styles to this file, and also import other style files */

@import './app/styles/classes.scss';
@import './app/styles/colors.scss';
@import './app/styles/reset.scss';

$font-main: 'Overpass';

$disabled: 0.8;

$font-sz-normal: 1rem;
$font-sz-small: calc($font-sz-normal / 2);
$font-sz-double: calc($font-sz-normal * 2);

$border-sz: 2px;
$outline-sz: 2px;

//

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: $dark-purple $background-clr;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: $background-clr;
}

*::-webkit-scrollbar-thumb {
	background-color: $dark-purple;
	border-radius: 20px;
	border: 3px solid $background-clr;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: $font-main;
	padding: 1rem;
	background-color: $background-clr;
	color: $foreground-clr;
}

.mat-dialog-actions,
.mat-dialog-container {
	background: $background-clr;
}

.custom-view-deposit-dialog-container mat-dialog-content,
.custom-delete-deposit-dialog-container mat-dialog-content {
	background: $background-clr;
	color: $foreground-clr;
	// padding: 5px;
}

.custom-view-deposit-dialog-container mat-dialog-actions,
.custom-delete-deposit-dialog-container mat-dialog-actions {
	// margin-block-start: 0.5rem;
	// margin-block-end: 0.5rem;	// for some reason, adds too much margin
}

input::placeholder {
	color: $foreground-clr !important;
	background: $dark-purple;
	font-style: italic;
	// opacity: 1;
}

// removes spinners from "<input type="number">"
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
}

input,
select {
	background-color: $background-clr;
	border: $border-sz solid $foreground-clr;
	color: $foreground-clr;
}
button {
	margin-inline-end: 0.5rem;
	padding-top: 4px;
	transition: all 200ms ease;
	transition-property: background-color, border;
	width: 80px;
}
button {
	background: $foreground-clr;
	border: $border-sz solid $foreground-clr;
	color: $background-clr;
}
button:hover:not(:disabled) {
	background-color: $background-clr;
	border: $border-sz solid $foreground-clr;
	// box-shadow: 0 2px 0 $focus-clr;
	color: $foreground-clr;

	text-shadow: none;
}

button:disabled {
	background: $background-clr;
	border: $border-sz solid $dark-purple;
	color: $dark-purple;
	// text-decoration: line-through;
	transition: none;
}

button:focus {
	outline: $outline-sz solid $focus-clr;
	transition: none;
}
