<p class="debug" *ngIf="isInDebugMode"><b>dashboard</b> works!</p>

<div *ngIf="isLoading" class="loading-spinner">
	<app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="!isLoading">
	<h1>Net Worth</h1>

	<p>Balances report for {{ today | date: 'MMMM' }}
		<button routerLink="/spend">Save</button>
	</p>

	<p>Spending report for {{ today | date: 'MMMM' }} - <b>{{ totalAmount }} RON</b>
		<button (click)="navigateToSpendPage()">Spend</button>
	</p>

	<!--
	<p *ngFor="let deposit of deposits">
		<b>{{ deposit.amount }} RON</b> in {{ deposit.createdAt | date: 'd.M' }} for '{{ deposit.details }}' at loc. '{{
		deposit.location }}' in cat. '{{deposit.category}}'

		<button (click)="viewDeposit(deposit)">
			View
		</button>

		<button (click)="viewDeposit(deposit)">
			Edit
		</button>

		<button (click)="openConfirmationDialog(deposit)">
			Delete
		</button>

	</p>
	-->

	<app-deposit-card *ngFor="let deposit of deposits" [deposit]="deposit">
	</app-deposit-card>

	<!-- <button>Last month</button> <button>This year</button> -->
</div>

<router-outlet></router-outlet>
