<pre class="debug" *ngIf="isInDebugMode"><b>dashboard</b> works!</pre>

<div *ngIf="isLoading" class="loading-spinner">
	<app-loading-spinner></app-loading-spinner>
</div>

<app-header *ngIf="!isLoading"></app-header>

<main *ngIf="!isLoading">

	<!--
	<div>
		<p>Nothing saved in {{ today | date: 'MMMM' }} yet.</p>
		<button (click)="openShowDepositDialog('save')" disabled>Save</button>
	</div>
	-->

	<div id="report">
		<p *ngIf="totalAmount === 0">Nothing spent in {{ today | date: 'MMMM' }} yet.</p>
		<p *ngIf="totalAmount !== 0">Spending report for <span>{{ today | date: 'MMMM' }}</span> – <span>{{ totalAmount | amount:3 }} lei | 48 lire</span></p>
		<button (click)="openShowDepositDialog('spend')">Spend</button>
	</div>

	<app-deposit-card *ngFor="let deposit of deposits" [deposit]="deposit">
	</app-deposit-card>

	<!-- <button>Last month</button> <button>This year</button> -->
</main>
