<pre class="debug" *ngIf="isInDebugMode"><b>dashboard</b> works!</pre>

<div *ngIf="isLoading" class="loading-spinner">
	<app-loading-spinner></app-loading-spinner>
</div>

<app-header *ngIf="!isLoading"></app-header>

<main *ngIf="!isLoading">

	<!--
	<div>
		<p>Nothing saved in {{ today | date: 'MMMM' }} yet.</p>
		<button (click)="openShowDepositDialog('save')" disabled>Save</button>
	</div>
	-->

	<div id="report">
		<p *ngIf="!anyMoneySpent">Nothing spent in {{ today | date: 'MMMM' }} yet.</p>
		<p *ngIf="anyMoneySpent">Spending report for <span>{{ today | date: 'MMMM' }}</span> –
			<span *ngIf="totalAmount.LEI !== 0">{{ totalAmount.LEI | amount:3 }} lei | </span>
			<span *ngIf="totalAmount.EUR !== 0">{{ totalAmount.EUR | amount:3 }}€ | </span>
			<span *ngIf="totalAmount.GBP !== 0">£{{ totalAmount.GBP | amount:3 }} </span>
		</p>
		<button (click)="openShowDepositDialog('spend')">Spend</button>
	</div>

	<app-deposit-card *ngFor="let deposit of deposits" [deposit]="deposit">
	</app-deposit-card>

	<!-- <button>Last month</button> <button>This year</button> -->
</main>
