@import '../../../../styles.scss';

$input-max-width: 150px;

input:active,
select:active,
input:focus-within,
select:focus-within {
	outline: $outline-sz solid $focus-clr;
	outline-offset: 2px;
	// border: 1px solid $focus-clr; // only works if the base state also has "border"

	&::selection {
		background-color: $default-selection;
	}
}

select > option {
	font-family: $font-main;
}

input[type='date'] {
	font-family: $font-main;

	// doesn't work:
	/*
	&::selection {
		background-color: $foreground-clr;
		color: $background-clr;
	}
	*/
}

.dialog-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $foreground-clr;
	margin-block-end: 0.5rem;
}

.dialog-title h3 {
	border-bottom: $border-sz solid $foreground-clr;
}

#close-btn {
	font-size: $font-sz-normal;
	font-style: heavy;
	width: 30px;
}

.input-error {
	// outline: $outline-sz solid red;
	border: $border-sz solid $invalid-clr;
}

.error {
	color: $invalid-clr;
}

fieldset input {
	box-sizing: border-box;
}

input,
select {
	height: 30px;
}

input,
select {
	max-width: $input-max-width;
}

#amount {
	width: $input-max-width;
}

input:invalid:active:focus-within {
	border: $border-sz solid $invalid-clr;
	color: $foreground-clr;
	outline: $outline-sz solid $focus-clr;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

fieldset {
	display: grid;
	grid-template-columns: 1fr;
	border: none;
	margin-bottom: 0.5rem;
	padding: 5px 0;
}

fieldset label {
	margin-inline-start: 5px;
	margin-block-end: 0.5rem;
}

fieldset p {
	margin-inline-start: 5px;
	margin-block-start: 0.5rem;
	height: 20px;
}

fieldset label,
fieldset p {
	font-size: $font-sz-normal;
}

fieldset p:not(#error) {
	font-size: 0.8rem;
}
