<p class="debug" *ngIf="isInDebugMode"><b>spend</b> works!</p>

<div class="dialog-title">
	<h3>{{ titleText }}</h3>
	<button id="close-btn" aria-label="Close dialog" mat-dialog-close>X</button>
</div>

<div id="div-deposit-form">
	<form [formGroup]="depositForm">

		<!-- remove matInput? -->
		<fieldset>
			<label for="amount">Amount:</label>
			<input matInput id="amount" [ngClass]="!isInputValid('amount') ? 'input-error' : ''" type="number" name="amount"
				formControlName="amount" placeholder="{{ formPlaceholders.amount }}" required>
			<p *ngIf="isInputValid('amount')">How much did you spend?</p>
			<p class="error" *ngIf="!isInputValid('amount')">Please add the amount...</p>
		</fieldset>

		<fieldset>
			<label for="details">Details:</label>
			<input matInput id="details" [ngClass]="!isInputValid('details') ? 'input-error' : ''" type="text" name="details"
				formControlName="details" placeholder="{{ formPlaceholders.details }}" required>
			<p *ngIf="isInputValid('details')">What did you spend it on?</p>
			<p class="error" *ngIf="!isInputValid('details')">Please add some details...</p>
		</fieldset>

		<fieldset>
			<label for="createdAt">Date:</label>
			<input matInput id="date" type="date" name="createdAt" formControlName="createdAt" required>
			<p>When did you spend it?</p>
		</fieldset>

		<fieldset>
			<label for="category">Category:</label>
			<select name="category" id="category-select" formControlName="category" required>
				<option *ngFor="let c of categories" [value]="c">
					{{ c }}
				</option>
			</select>
			<p>Choose a category for easier filtering</p>
		</fieldset>

		<fieldset>
			<label for="location">Location:</label>
			<select name="location" id="location-select" formControlName="location" required>
				<option *ngFor="let l of locations" [value]="l">
					{{ l }}
				</option>
			</select>
			<p>Where did you spend it?</p>
		</fieldset>

		<fieldset>
			<label for="city">City:</label>
			<select name="city" id="city-select" formControlName="city" required>
				<option *ngFor="let c of cities" [value]="c">
					{{ c }}
				</option>
			</select>
			<p>In which city did you spend it?</p>
		</fieldset>

	</form>
</div>

<mat-dialog-actions *ngIf="inEditMode">
	<button *ngIf="canEdit" (click)="save()" mat-dialog-close>Save</button>
	<!-- <button *ngIf="canEdit" (click)="cancel()">Cancel</button> -->
</mat-dialog-actions>

<mat-dialog-actions *ngIf="!inEditMode">
	<button *ngIf="canEdit" (click)="add()" mat-dialog-close>Add</button>
</mat-dialog-actions>

<div *ngIf="isInDebugMode">
	<p>Form status:<br>{{ depositForm.status }}</p>
	<p>amount: {{ isInputValid('amount') }}</p>
	<p>details: {{ isInputValid('details') }}</p>
	<p>Form value:<br>{{ depositForm.value | json }}</p>
</div>
