<pre class="debug" *ngIf="isInDebugMode"><b>show-deposit-dialog</b> works!</pre>

<div class="dialog-title">
	<h3>{{ titleText }}</h3>
	<button id="close-btn" aria-label="Close dialog" mat-dialog-close>X</button>
</div>

<mat-dialog-content>

	<form [formGroup]="depositForm" *ngIf="isFormReady">

		<fieldset>
			<label for="amount">Amount and currency:</label>
			<div id="currency-container">
				<input matInput id="amount" [ngClass]="!isInputValid('amount') ? 'input-error' : ''" type="number" name="amount"
					formControlName="amount" placeholder="{{ formPlaceholders.amount }}" required>
				<select name="currency" id="currency-select" formControlName="currency" required>
					<option *ngFor="let c of currencies" [value]="c">
						{{ c }}
					</option>
				</select>
			</div>
			<p *ngIf="isInputValid('amount')">How much did you spend?</p>
			<p class="error" *ngIf="!isAmountValid()">{{ amountErrorMessage }}</p>
		</fieldset>

		<fieldset>
			<label for="details">Details:</label>
			<input matInput id="details" [ngClass]="!isInputValid('details') ? 'input-error' : ''" type="text" name="details"
				formControlName="details" placeholder="{{ formPlaceholders.details }}" required>
			<p *ngIf="isInputValid('details')">What did you spend it on?</p>
			<p class="error" *ngIf="!isDetailsValid()">{{ detailsErrorMessage }}</p>
		</fieldset>

		<fieldset>
			<label for="createdAt">Date:</label>
			<input matInput id="date" type="date" name="createdAt" formControlName="createdAt" required>
			<p>When did you spend it?</p>
		</fieldset>

		<fieldset>
			<label for="category">Category:</label>
			<select name="category" id="category-select" formControlName="category" required>
				<option *ngFor="let c of categories" [value]="c">
					{{ c }}
				</option>
			</select>
			<p>Choose a category for easier filtering</p>
		</fieldset>

		<!--
		<fieldset>
			<label for="refundable">Refundable:</label>
			<input type="checkbox" name="refundable">
		</fieldset>
		-->

	</form>

</mat-dialog-content>

<mat-dialog-actions *ngIf="inEditMode" align="center">
	<button [disabled]="!hasDepositChanged()" (click)="save()" mat-dialog-close>Update</button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="!inEditMode" align="center">
	<button [disabled]="!isFormValid()" (click)="add()" mat-dialog-close>Add</button>
</mat-dialog-actions>

<!-- DEBUG MODE: -->
<div class="debug-div" *ngIf="isInDebugMode">
	<pre>Form status:{{ depositForm.status }}</pre>
	<pre>amount: {{ isInputValid('amount') }}</pre>
	<pre>details: {{ isInputValid('details') }}</pre>
	<pre>Form value:<br>{{ depositForm.value | json }}</pre>
	<pre>depositChanged: {{ depositChanged.getValue() }}</pre>
</div>
