<p class="debug" *ngIf="isInDebugMode"><b>show-deposit-dialog</b> works!</p>

<h2 mat-dialog-title>Details</h2>

<div>
	<!-- Open this by default: -->
	<!-- <app-deposit-form *ngIf="!canEdit" [deposit]="deposit"></app-deposit-form> -->
	<!-- <app-deposit-form *ngIf="canEdit" [deposit]="deposit"></app-deposit-form> -->

	<form [formGroup]="depositForm">

		<mat-form-field appearance="outline">
			<mat-label for="amount">Amount:</mat-label>
			<input matInput type="number" name="amount" formControlName="amount" required>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label for="details">Details:</mat-label>
			<input matInput type="text" name="details" formControlName="details">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label for="createdAt">Created at:</mat-label>
			<input matInput type="date" name="createdAt" formControlName="createdAt" required>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label for="category">Category:</mat-label>
			<mat-select name="category" id="category-select" formControlName="category">
				<mat-option *ngFor="let c of categories" [value]="c">
					{{ c }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label for="location">Location:</mat-label>
			<mat-select name="location" id="location-select" formControlName="location">
				<mat-option *ngFor="let l of locations" [value]="l">
					{{ l }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label for="city">City:</mat-label>
			<mat-select name="city" id="city-select" formControlName="city">
				<mat-option *ngFor="let c of cities" [value]="c">
					{{ c }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-checkbox name="recurrent" formControlName="recurrent" (change)="makeRecurrent()" [disabled]="true">
			<mat-label for="recurrent">Is this a recurrent payment?</mat-label>
		</mat-checkbox>

		<mat-form-field appearance="outline" *ngIf="recurrent">
			<mat-label for="frequency">Frequency:</mat-label>
			<mat-select name="frequency" id="frequency-select" formControlName="frequency">
				<mat-option *ngFor="let l of frequencies" [value]="l">
					Every {{ l }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-checkbox name="currencyCheck" formControlName="currencyCheck" (change)="changeCurrency()" [disabled]="true">
			<mat-label for="currencyCheck">Is this a payment in a different currency?</mat-label>
		</mat-checkbox>

		<div *ngIf="differentCurrency">
			<mat-form-field appearance="outline">
				<mat-label for="currency">Currency:</mat-label>
				<mat-select id="currency-select" name="currency" formControlName="currency">
					<mat-option *ngFor="let c of currencies" [value]="c">
						{{ c.name }} ({{ c.symbol }})
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label for="exchangeRate">Exchange rate:</mat-label>
				<input matInput type="number" name="exchangeRate" formControlName="exchangeRate">
			</mat-form-field>

			<button mat-stroked-button>Get latest exchange rate for {{ selectedCurrency.name }} </button>
		</div>

	</form>

	<mat-dialog-actions>
		<button (click)="edit()">Edit</button>
		<button mat-dialog-close (click)="saveDeposit()">Save</button>
	</mat-dialog-actions>
</div>