<pre class="debug" *ngIf="isInDebugMode"><b>deposit-card</b> works!</pre>

<main *ngIf="!deleted">

	<p>
		<b>{{ deposit.amount }} RON</b> for '{{ deposit.details }}' on {{ deposit.createdAt | date: 'MMM d' }}
	</p>

	<!-- TODO: Use semantic HTML -->
	<div style="font-size: 0.8rem;">
		<p>
			<i>{{ deposit.category }}</i>
			<br>
			{{ deposit.location }}, <b>{{ deposit.city }}</b>
		</p>
	</div>

	<button (click)="openShowDepositDialog(deposit)">
		Details
	</button>

	<button (click)="openDeleteDepositDialog(deposit)">
		Delete
	</button>

</main>
