div {
	max-width: 600px;
}
form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.5rem;
}

mat-form-field {
	max-width: 70%;
}

/*
#details-label {
}

#details-input {
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column: 2;
}

#createdAt-label {
	grid-row-start: 4;
	grid-column: 1;
}

#createdAt-input {
	grid-row-start: 4;
	grid-column: 2;
}
*/
