<p *ngIf="isInDebugMode"><b>deposit-form</b> works!</p>

<div>
	<form [formGroup]="depositForm" *ngIf="ready">
		<mat-label for="amount">Amount:</mat-label>
		<input type="number" name="amount" value="{{ deposit.amount }}" formControlName="amount" required [disabled]="!canEdit">

		<mat-label for="details">Details:</mat-label>
		<input type="text" name="details" value="{{ deposit.details }}" formControlName="details">

		<mat-label for="createdAt">Created at:</mat-label>
		<input type="date" name="createdAt" formControlName="createdAt" required>

		<mat-label for="category">Category:</mat-label>
		<mat-select name="category" id="category-select" formControlName="category">
			<mat-option *ngFor="let c of categories" [value]="c">
				{{ c }}
			</mat-option>
		</mat-select>

		<mat-label for="location">Location:</mat-label>
		<mat-select name="location" id="location-select" formControlName="location">
			<mat-option *ngFor="let l of locations" [value]="l">
				{{ l }}
			</mat-option>
		</mat-select>
		<br><br>

		<mat-label for="city">City:</mat-label>
		<mat-select name="city" id="city-select" formControlName="city">
			<mat-option *ngFor="let c of cities" [value]="c">
				{{ c }}
			</mat-option>
		</mat-select>

	</form>

	<button type="button" [disabled]="canEdit" (click)="enableEditing()">Edit</button>
	<button type="button" [disabled]="!canEdit" (click)="save()">Save</button>

</div>

<div *ngIf="isInDebugMode">
	<p>Form value:<br>{{ depositForm.value | json }}</p>
	<p>Form status:<br>{{ depositForm.status }}</p>
</div>
