@import '../../../styles/common.scss';

// this offset will cover the deposits when the page is fully scrolled down
$offset-inline: 10px;

div#title {
	background-color: $background-clr;
	border-bottom: 2px solid white;
	display: grid;
	grid-template-columns: auto 1fr;
	margin-inline: auto;
	margin-bottom: 10px;
	max-width: calc(600px + $offset-inline);
	padding-block: 20px;
	padding-inline: calc($offset-inline / 2);
	position: sticky;
	top: 0px;
	width: 100%;

	button {
		align-self: center;
		justify-self: end;
		margin-inline-end: 1rem;
	}
}
