div {
	max-width: 600px;
}
form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.5rem;
	max-width: 400px;
}

mat-form-field {
	max-width: 200px;
}

// input[type='text'] {
// 	color: red;
// 	padding: 1vw;
// }

// mat-select {
// 	border: 2px solid red;
// }

// mat-option {
// 	color: hotpink;
// }
