<p *ngIf="isInDebugMode"><b>spend</b> works!</p>

<div>
	<form [formGroup]="depositForm">
		<mat-label for="amount">Amount:</mat-label>
		<input type="number" name="amount" value="{{ defaultAmount }}" formControlName="amount" required>

		<mat-label for="details">Details:</mat-label>
		<input type="text" name="details" placeholder="{{ defaultDetailsPlaceholder }}" formControlName="details">

		<!-- <mat-label for="currency">Currency:</mat-label>
		<mat-select id="currency-select" name="currency" formControlName="currency" required>
			<mat-option *ngFor="let c of currencies" [value]="c">
				{{ c.name }} ({{c.symbol}})
			</mat-option>
		</mat-select> -->

		<!-- <mat-label for="exchangeRate">Exchange rate:</mat-label>
		<input type="number" name="exchangeRate" formControlName="exchangeRate" required> -->

		<mat-label for="createdAt">Created at:</mat-label>
		<input type="date" name="createdAt" formControlName="createdAt" required>

		<mat-label for="category">Category:</mat-label>
		<mat-select name="category" id="category-select" formControlName="category">
			<mat-option *ngFor="let c of categories" [value]="c">
				{{ c }}
			</mat-option>
		</mat-select>

		<!-- <mat-label for="recurrent">Recurrent?</mat-label>
		<input type="checkbox" name="recurrent" formControlName="recurrent"> -->

		<mat-label for="location">Location:</mat-label>
		<mat-select name="location" id="location-select" formControlName="location">
			<mat-option *ngFor="let l of locations" [value]="l">
				{{ l }}
			</mat-option>
		</mat-select>
		<br><br>

		<mat-label for="city">City:</mat-label>
		<mat-select name="city" id="city-select" formControlName="city">
			<mat-option *ngFor="let c of cities" [value]="c">
				{{ c }}
			</mat-option>
		</mat-select>

	</form>

	<button type="button" (click)="spendDeposit()">SPEND</button>

	<button (click)="redirect()">
		Go home
	</button>
</div>

<div *ngIf="isInDebugMode">
	<p>Form value:<br>{{ depositForm.value | json }}</p>
	<p>Form status:<br>{{ depositForm.status }}</p>
</div>
