div {
	max-width: 600px;
}
form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}
mat-label {
	grid-column: 1 / 2;
}

mat-label {
}

input[type='text'] {
	color: red;
	padding: 1vw;
}

mat-select {
	border: 2px solid red;
}

mat-option {
	color: hotpink;
}

.mat-select-content{
	width:2000px;
	background-color: red;
	font-size: 10px;
}
